body {
  background-color: #ffffff;
  font-size: 1em;
  height: 100%;
  width: 100%;
}
section {
	top: 0;
	left: 0;
	float: right;
	height: 100%;
	width: 100%;
}
.bgme {
top: 0;
z-index: -1;
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #109fb4;
}

._image {
  display: block;
  float: left;
  width: 404px;
  height: 484px;
  overflow: hidden;
  
}

.login-admin {
	display: block;
  position: relative;
  width: 404px;
  height: 484px;
  top: 100px;
  margin: 0 auto;
}