body {
  background-color: #ffffff;
  font: 400 0.813em/1.38 Helvetica;
  color: #52a6af;
}

.content {
  width: 833px;
  height: 672px;
  margin: 31px auto 0;
}

.head {
  float: left;
  width: 99.9999999999%;
  height: 75px;
  background-color: #d0dfe2;
}

.logo {
  float: left;
  width: 100%;
  height: 50px;
  background-color: #109fb4;
}

.mainnav {
  position: relative;
  float: left;
  width: 188px;
  height: 700px;
  background-color: #084e59;
}

.mainsection {
  float: left;
  width: 884px;
  height: 700px;
}

.sidebar {
  float: left;
  width: 199px;
  height: 687px;
  background-color: #c0d4d8;
}

.tool {
  width: 833px;
  height: 34px;
  margin: 19px auto 0;
}

.tool1 {
  display: block;
  float: left;
  width: 4.081632653%;
  height: 34px;
}

.tool2 {
  display: block;
  float: left;
  width: 10.2040816326%;
  height: 34px;
  margin-left: 10px;
}

._button {
  display: block;
  float: right;
  width: 15.0060024009%;
  height: 34px;
  border-radius: 3px;
  background: rgb(0, 205, 225);
  background: -webkit-linear-gradient(270deg, rgb(0, 205, 225) 0%, rgb(0, 194, 214) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(270deg, rgb(0, 205, 225) 0%, rgb(0, 194, 214) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(270deg, rgb(0, 205, 225) 0%, rgb(0, 194, 214) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(270deg, rgb(0, 205, 225) 0%, rgb(0, 194, 214) 100%) rgb(222, 222, 222);
  background:         linear-gradient(180deg, rgb(0, 205, 225) 0%, rgb(0, 194, 214) 100%) rgb(222, 222, 222);
  font-size: 1.077em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._container {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #005e69;
}

._image {
  display: block;
  height: auto;
  overflow: hidden;
}

._text {
  display: inline-block;
  float: left;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
}

.content ._image {
  float: left;
  width: 833px;
}

.head ._text {
  margin: 30px 0 0 22px;
  color: #829194;
}

.logo ._image {
  float: left;
  width: 70px;
  margin: 14px 0 0 18px;
}

.mainnav ._text {
  margin-top: 16px;
  color: #52a6af;
}

.sidebar ._image {
  float: left;
  clear: both;
  width: 162px;
  margin: 32px 0 0 11.0552763819%;
}

.tool1 ._image {
  float: left;
  width: 34px;
}

.tool2 ._image {
  float: left;
  width: 84px;
}

.mainnav ._container-1,
.mainnav ._container-2,
.mainnav ._container-3,
.mainnav ._container-4,
.mainnav ._container-5 {
  float: left;
  clear: both;
  margin-top: 1px;
}

.mainnav ._container-6 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 16;
}

.mainnav ._image-3 {
  float: left;
  width: 17px;
  margin: 16px 0 0 18px;
}

.mainnav ._image-5 {
  float: left;
  width: 16px;
  margin: 15px 0 0 18px;
}

.mainnav ._image-2,
.mainnav ._image-4,
.mainnav ._image-6 {
  float: left;
  width: 16px;
  margin: 16px 0 0 18px;
}

.mainnav ._image-7 {
  float: left;
  width: 23px;
  margin: 12px 0 0 10px;
}

.mainnav ._image-8 {
  float: right;
  width: 20px;
  margin: 17px 43px 0 0;
}

.mainnav ._image-9 {
  position: absolute;
  top: 17px;
  right: 16px;
  z-index: 13;
  width: 16px;
}

.mainnav ._text-3 {
  margin-left: 11px;
}

.mainnav ._text-1,
.mainnav ._text-2,
.mainnav ._text-4,
.mainnav ._text-5 {
  margin-left: 10px;
}