body {
  background-color: #ecf0f0;
  font: 400 0.813em/1.38 Helvetica;
  color: rgba(91, 91, 91, 0.66);
}

.fcount {
  display: inline-block;
  float: right;
  font-size: 0.923em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(140, 169, 175);
}

.feedcomple {
  float: left;
  width: 304px;
  height: 36px;
  margin: 4px 0 0 18.4375%;
}
.feedcompleted {
	position: absolute;
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 310px;
	height: 50px;
	background: #eff4f4;
}
.regpop {
	position: absolute;
	display: none;
	top: 130px;
	left: 35%;
	right: auto;
	width: 405px;
	height: 450px;
	z-index: 9999;

}
.fileheader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 57;
  width: 100%;
  height: 73px;
  background-color: rgba(241, 246, 246, 0.67);
}

.filethumb {
  position: relative;
  float: left;
  width: 220px;
  height: 220px;
  border-radius: 3px;
  overflow: hidden;
}

.filethumbs {
  width: 960px;
  height: 467px;
  margin: 31px auto 0;
}

.genq {
  width: 960px;
  height: 142px;
  margin: 30px auto 100px;
}

.genq1 {
  display: block;
  float: left;
  width: 437px;
  height: auto;
  overflow: hidden;
}

.genq2 {
  display: block;
  float: right;
  width: 453px;
  height: auto;
  overflow: hidden;
}

.hovercontent {
  position: relative;
  float: left;
  width: 100%;
  height: 220px;
  top: 186px;
  -webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}

.hovercontent .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
}

.hovercontent .title {
  position: relative;
  width: 100%;
  height: 22px;
  margin-top: 6px;
  padding-right: 10px;
  padding-left: 10px;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.pagetitle {
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 0.923em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(140, 169, 175);
}

.profile {
  float: right;
  width: 108px;
  height: 30px;
  margin: 6px 0 0 0;
}

.profile .image {
  float: right;
  width: 108px;
}

.profiledrop {
	display: none;
  position: absolute;
  top: 59px;
  right: 0;
  z-index: 45;
  width: 197px;
  height: 0px;
  background-color: rgba(241, 246, 246, 0.9);
  -webkit-transition: all 300ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

.progressbar {
  width: 99.9999999999%;
  height: 9px;
  margin: 27px auto 0;
  background-color: rgb(222, 222, 222);
}

.projectname {
  display: inline-block;
  float: left;
  clear: both;
  width: 100%;
  font-size: 1.538em;
  font-weight: 400;
  line-height: 1.38;
  color: #8ca9af;
}

.qcount {
  float: left;
  width: 5.5%;
  margin: 5px 0 0 24.5%;
  border-radius: 2px;
  background-color: rgba(99, 99, 99, 0.6);
  font-size: 0.769em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(209, 209, 209);
}

.separatorbottom {
  width: 960px;
  height: 30px;
  margin: 94px auto 0;
}

.separatorbottom .image,
.separatortop .image {
  float: left;
  width: 939px;
}

.separatortop {
  width: 960px;
  height: 30px;
  margin: 141px auto 0;
}
.gridlist {
	float: right;
	position: absolute;
	height: 13px;
	width: 38px;
	margin: 5px 5px 10px -20px
}

.title {
  float: left;
}

.wrap {
  position: relative;
  width: 960px;
  height: 43px;
  margin: 14px auto 0;
}

.wrap .title {
  width: 151px;
  height: 43px;
}

._container {
  float: left;
  width: 99.9999999999%;
  height: 16px;
}

._element {
  display: block;
  float: left;
  width: 38.4868421052%;
  height: 9px;
  background-color: rgb(86, 232, 188);
}

._text {
  float: left;
  font-weight: 400;
  line-height: 1.38;
}

.feedcomple ._text {
  display: inline-block;
  font-size: 0.923em;
  color: rgb(140, 169, 175);
}

.title ._text {
  width: 70%;
  margin-top: 3px;
  font-size: 1em;
  color: rgba(91, 91, 91, 0.66);
}

.filethumb-1 {
  background-image: -webkit-linear-gradient(315deg, rgb(61, 0, 159) 0%, rgb(212, 0, 255) 99.76190476190476%);
  background-image:    -moz-linear-gradient(315deg, rgb(61, 0, 159) 0%, rgb(212, 0, 255) 99.76190476190476%);
  background-image:      -o-linear-gradient(315deg, rgb(61, 0, 159) 0%, rgb(212, 0, 255) 99.76190476190476%);
  background-image:     -ms-linear-gradient(315deg, rgb(61, 0, 159) 0%, rgb(212, 0, 255) 99.76190476190476%);
  background-image:         linear-gradient(135deg, rgb(61, 0, 159) 0%, rgb(212, 0, 255) 99.76190476190476%);
}

.filethumb-2 {
  margin-left: 2.8125%;
  background-image: -webkit-linear-gradient(315deg, rgb(255, 176, 0) 0%, rgb(255, 99, 0) 99.76190476190476%);
  background-image:    -moz-linear-gradient(315deg, rgb(255, 176, 0) 0%, rgb(255, 99, 0) 99.76190476190476%);
  background-image:      -o-linear-gradient(315deg, rgb(255, 176, 0) 0%, rgb(255, 99, 0) 99.76190476190476%);
  background-image:     -ms-linear-gradient(315deg, rgb(255, 176, 0) 0%, rgb(255, 99, 0) 99.76190476190476%);
  background-image:         linear-gradient(135deg, rgb(255, 176, 0) 0%, rgb(255, 99, 0) 99.76190476190476%);
}

.filethumb-3 {
  margin-left: 2.7083333333%;
  background-image: -webkit-linear-gradient(315deg, rgb(48, 223, 44) 0%, rgb(242, 255, 0) 99.76190476190476%);
  background-image:    -moz-linear-gradient(315deg, rgb(48, 223, 44) 0%, rgb(242, 255, 0) 99.76190476190476%);
  background-image:      -o-linear-gradient(315deg, rgb(48, 223, 44) 0%, rgb(242, 255, 0) 99.76190476190476%);
  background-image:     -ms-linear-gradient(315deg, rgb(48, 223, 44) 0%, rgb(242, 255, 0) 99.76190476190476%);
  background-image:         linear-gradient(135deg, rgb(48, 223, 44) 0%, rgb(242, 255, 0) 99.76190476190476%);
}

.filethumb-4 {
  margin-left: 2.8125%;
  background-image: -webkit-linear-gradient(315deg, rgb(39, 101, 240) 0%, rgb(13, 0, 255) 99.76190476190476%);
  background-image:    -moz-linear-gradient(315deg, rgb(39, 101, 240) 0%, rgb(13, 0, 255) 99.76190476190476%);
  background-image:      -o-linear-gradient(315deg, rgb(39, 101, 240) 0%, rgb(13, 0, 255) 99.76190476190476%);
  background-image:     -ms-linear-gradient(315deg, rgb(39, 101, 240) 0%, rgb(13, 0, 255) 99.76190476190476%);
  background-image:         linear-gradient(135deg, rgb(39, 101, 240) 0%, rgb(13, 0, 255) 99.76190476190476%);
}

.filethumb-5 {
  clear: both;
  margin-top: 27px;
  background-image: -webkit-linear-gradient(315deg, rgb(0, 159, 159) 0%, rgb(0, 255, 148) 99.76190476190476%);
  background-image:    -moz-linear-gradient(315deg, rgb(0, 159, 159) 0%, rgb(0, 255, 148) 99.76190476190476%);
  background-image:      -o-linear-gradient(315deg, rgb(0, 159, 159) 0%, rgb(0, 255, 148) 99.76190476190476%);
  background-image:     -ms-linear-gradient(315deg, rgb(0, 159, 159) 0%, rgb(0, 255, 148) 99.76190476190476%);
  background-image:         linear-gradient(135deg, rgb(0, 159, 159) 0%, rgb(0, 255, 148) 99.76190476190476%);
}

.filethumb-6 {
  margin: 27px 0 0 2.8125%;
  background-image: -webkit-linear-gradient(315deg, rgb(0, 154, 159) 0%, rgb(197, 176, 201) 99.76190476190476%);
  background-image:    -moz-linear-gradient(315deg, rgb(0, 154, 159) 0%, rgb(197, 176, 201) 99.76190476190476%);
  background-image:      -o-linear-gradient(315deg, rgb(0, 154, 159) 0%, rgb(197, 176, 201) 99.76190476190476%);
  background-image:     -ms-linear-gradient(315deg, rgb(0, 154, 159) 0%, rgb(197, 176, 201) 99.76190476190476%);
  background-image:         linear-gradient(135deg, rgb(0, 154, 159) 0%, rgb(197, 176, 201) 99.76190476190476%);
}

.image-3 {
  z-index: 35;
}

.image-4 {
  z-index: 29;
}

.image-5 {
  z-index: 23;
}

.image-6 {
  z-index: 5;
}

.image-7 {
  z-index: 9;
}

.image-8 {
  z-index: 13;
}

.title-2 {
  z-index: 38;
}

.title-3 {
  z-index: 32;
}

.title-4 {
  z-index: 26;
}

.title-5 {
  z-index: 8;
}

.title-6 {
  z-index: 12;
}

.title-7 {
  z-index: 16;
}