body {
  background-color: #2a2a2a;
  font: 400 0.75em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.container {
  float: left;
}

.element {
  float: left;
  width: 136px;
  height: 156px;
}

.image {
  display: block;
  float: left;
  width: 60px;
  height: auto;
  margin: 16px 0 0 0.8333333333%;
  overflow: hidden;
}

.qhover {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.93);
}

.question {
  float: left;
  clear: both;
  width: 100%;
  padding: 5px 5px 10px;
  background-color: rgb(255, 255, 255);
}

.question .text {
  width: 22.1774193548%;
  margin-left: 4.0322580645%;
  font-size: 1.083em;
  color: rgb(0,0,0);
}

.questionbox {
  float: left;
  width: 26.875%;
}

.questionbox .container {
  position: relative;
  width: 100%;
  max-width: 258px;
  border: 1px solid rgb(222, 222, 222);
  background-color: rgba(180, 180, 180, 0.79);
}

.text {
  float: left;
  font-weight: 400;
  line-height: 1.38;
}

._button {
  display: block;
  border: 1px solid rgb(105, 215, 98);
  border-radius: 3px;
  background-color: rgb(118, 238, 111);
  font-size: 1.083em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._input {
  display: block;
  float: left;
  clear: both;
  width: 89.1129032258%;
  height: 76px;
  margin: 8px 0 0 4.4354838709%;
  padding: 0 10px;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 4px;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08) inset;
  font-size: 1.083em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.qhover ._button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 58.203125%;
  max-width: 149px;
  height: 33px;
  margin: auto;
}

.question ._button {
  float: left;
  clear: both;
  width: 89.1129032258%;
  height: 28px;
  margin: 9px 0 0 4.4354838709%;
}

.container-1 {
  clear: both;
  width: 80%;
  margin: 11px 0 0 6.5%;
  padding: 10px;
  background-color: rgb(34, 34, 34);
}

.container-2 {
  position: relative;
  clear: both;
  z-index: 77;
  width: 80%;
  margin: 22px 0 0 6.5%;
}

.element-1 {
  background-color: rgb(171, 112, 112);
}

.element-2 {
  margin-left: 24px;
  background-color: rgb(82, 162, 131);
}

.element-3 {
  margin-left: 24px;
  background-color: rgb(103, 151, 181);
}

.element-4 {
  margin-left: 25px;
  background-color: rgb(171, 159, 79);
}

.element-5 {
  margin-left: 24px;
  background-color: rgb(75, 183, 190);
}

.element-6 {
  margin-left: 24px;
  background-color: rgb(135, 135, 135);
}

.qhover-1 {
  z-index: 15;
}

.qhover-2 {
  z-index: 26;
}

.qhover-3 {
  z-index: 37;
}

.qhover-4 {
  z-index: 48;
}

.qhover-5 {
  z-index: 59;
}

.qhover-6 {
  z-index: 70;
}

.questionbox-2,
.questionbox-3 {
  margin-left: 25px;
}

.questionbox-4 {
  clear: both;
  margin-top: 25px;
}

.questionbox-5,
.questionbox-6 {
  margin: 25px 0 0 25px;
}

.text-1 {
  display: inline-block;
  margin: 24px 0 0 6.5%;
  font-size: 0.833em;
  color: rgb(106, 106, 106);
}

.text-10 {
  display: inline-block;
  position: relative;
  z-index: 23;
  margin: 11px 0 0 3.90625%;
  font-size: 1.167em;
  color: rgb(255, 255, 255);
}

.text-11 {
  display: inline-block;
  position: relative;
  clear: both;
  z-index: 22;
  width: 256px;
  margin-top: 2px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-14 {
  display: inline-block;
  position: relative;
  z-index: 34;
  margin: 11px 0 0 3.90625%;
  font-size: 1.167em;
  color: rgb(255, 255, 255);
}

.text-15 {
  display: inline-block;
  position: relative;
  clear: both;
  z-index: 33;
  width: 256px;
  margin-top: 2px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-18 {
  display: inline-block;
  position: relative;
  z-index: 45;
  margin: 11px 0 0 3.90625%;
  font-size: 1.167em;
  color: rgb(255, 255, 255);
}

.text-19 {
  display: inline-block;
  position: relative;
  clear: both;
  z-index: 44;
  width: 256px;
  margin-top: 2px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-2 {
  display: inline-block;
  clear: both;
  margin: 3px 0 0 6.5%;
  font-size: 1.333em;
  color: rgb(255, 255, 255);
}

.text-22 {
  display: inline-block;
  position: relative;
  z-index: 56;
  margin: 11px 0 0 3.90625%;
  font-size: 1.167em;
  color: rgb(255, 255, 255);
}

.text-23 {
  display: inline-block;
  position: relative;
  clear: both;
  z-index: 55;
  width: 256px;
  margin-top: 2px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-26 {
  display: inline-block;
  position: relative;
  z-index: 67;
  margin: 11px 0 0 3.90625%;
  font-size: 1.167em;
  color: rgb(255, 255, 255);
}

.text-27 {
  display: inline-block;
  position: relative;
  clear: both;
  z-index: 66;
  width: 256px;
  margin-top: 2px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-12,
.text-16,
.text-20,
.text-24,
.text-28,
.text-8 {
  clear: both;
  margin: -44px 0 0 169.921875%;
  font-size: 1.333em;
  color: rgb(0,0,0);
}

.text-3 {
  display: inline-block;
  clear: both;
  margin: 34px 0 0 6.5%;
  font-size: 0.833em;
  color: rgb(106, 106, 106);
}

.text-4 {
  display: inline-block;
  clear: both;
  margin: 54px 0 0 6.5%;
  font-size: 0.833em;
  color: rgb(106, 106, 106);
}

.text-5 {
  margin: 17px 0 0 2.1666666666%;
  font-size: 1em;
  color: rgb(122, 122, 122);
}

.text-6 {
  display: inline-block;
  position: relative;
  z-index: 12;
  margin: 11px 0 0 3.90625%;
  font-size: 1.167em;
  color: rgb(255, 255, 255);
}

.text-7 {
  display: inline-block;
  position: relative;
  clear: both;
  z-index: 11;
  width: 256px;
  margin-top: 2px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

._container-2 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 80;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: rgba(19, 19, 19, 0.47);
}

.qhover ._button-1 {
  z-index: 14;
}

.qhover ._button-11 {
  z-index: 69;
}

.qhover ._button-3 {
  z-index: 25;
}

.qhover ._button-5 {
  z-index: 36;
}

.qhover ._button-7 {
  z-index: 47;
}

.qhover ._button-9 {
  z-index: 58;
}