body {
  background-color: #ecf0f0;
  font: 400 0.875em/1.38 Helvetica;
  color: rgb(140, 169, 175);
}

.element {
  width: 100%;
  height: 40px;
  margin: 96px auto 0;
  background-color: rgba(247, 247, 247, 0.93);
}

.element .container {
  width: 957px;
  height: 24px;
  margin: 7px auto 0;
}

.element .image {
  float: left;
  width: 119px;
  margin-top: 4px;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.l0 {
  position: absolute;
  top: 179px;
  left: 0;
  width: 100%;
  height: 220px;
  background-image: url('../images/l0.png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.l0 .text {
  font-size: 0.857em;
  font-weight: 400;
  color: rgb(97, 97, 97);
}

.linktitle {
  float: left;
}

.linktitle .text {
  display: inline-block;
  color: #8ca9af;
}

.mainheader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 47;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: rgba(247, 247, 247, 0.93);
}

.mainheader .container {
  height: 80px;
}

.progressbar {
  float: left;
  clear: both;
  width: 99.9999999999%;
  height: 9px;
  margin-top: 6px;
  border: 1px solid rgb(140, 169, 175);
}

.ufthumb {
  display: block;
  position: relative;
  float: left;
  width: 220px;
  height: 220px;
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  overflow: hidden;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  text-align: center;
  color: rgb(255, 255, 255);
}

._element {
  display: block;
  float: left;
}

.element ._button {
  width: 10.8672936259%;
  height: 24px;
  margin-left: 76.698014629%;
  background-color: rgb(140, 169, 175);
}

.progressbar ._element {
  width: 15.0537634408%;
  height: 7px;
  background-color: #50e3c2;
}

.container-1 {
  width: 960px;
  margin: 0 auto;
}

.container-10 {
  float: left;
  width: 48.8517745302%;
  height: 140px;
  margin-left: 2.2964509394%;
}

.container-2 {
  float: right;
  width: 129px;
  padding: 10px;
}

.container-3 {
  width: 960px;
  margin: 114px auto 0;
  border-bottom: 1px solid rgb(218, 226, 228);
}

.container-4 {
  float: left;
  width: 251px;
  padding-top: 7px;
  border-top: 1px solid rgba(140, 169, 175, 0.2);
  border-right: 1px solid rgba(140, 169, 175, 0.2);
  border-left: 1px solid rgba(140, 169, 175, 0.2);
}

.container-5 {
  width: 960px;
  height: 500px;
  margin: 17px auto 0;
}

.container-6 {
  width: 960px;
  margin: 36px auto 0;
  border-bottom: 1px solid rgb(218, 226, 228);
}

.container-7 {
  float: left;
  width: 225px;
  padding-top: 7px;
  border-top: 1px solid rgba(140, 169, 175, 0.2);
  border-right: 1px solid rgba(140, 169, 175, 0.2);
  border-left: 1px solid rgba(140, 169, 175, 0.2);
}

.container-8 {
  width: 958px;
  height: 172px;
  margin: 39px auto 0;
}

.container-9 {
  float: left;
  width: 48.8517745302%;
  height: 140px;
}

.image-1 {
  float: right;
  width: 38px;
  margin-top: 10px;
}

.l0-1 {
  z-index: 26;
}

.l0-2 {
  z-index: 22;
}

.l0-3 {
  z-index: 18;
}

.l0-4 {
  z-index: 14;
}

.l0-5 {
  z-index: 12;
}

.l0-6 {
  z-index: 6;
}

.linktitle-1 {
  width: 173px;
  height: 46px;
  margin-top: 17px;
}

.linktitle-2 {
  width: 281px;
  margin: 25px 0 0 188px;
}

.text-1 {
  float: left;
  font-size: 1.143em;
  letter-spacing: 1.5px;
}

.text-11,
.text-13,
.text-15,
.text-17,
.text-19,
.text-9 {
  float: left;
  margin: 14px 0 0 5%;
}

.text-2 {
  float: left;
  clear: both;
  font-family: 'PT Sans';
  font-size: 0.857em;
  letter-spacing: 0.5px;
}

.text-10,
.text-12,
.text-14,
.text-16,
.text-18,
.text-20 {
  display: inline-block;
  float: right;
  margin: 15px 5% 0 0;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.13);
}

.text-21 {
  display: inline-block;
  float: left;
  margin-left: 5.8295964125%;
  padding-bottom: 10px;
  font-family: 'PT Sans';
  font-size: 0.857em;
  letter-spacing: 0.5px;
  color: #8ca9af;
}

.text-22 {
  display: inline-block;
  float: right;
  margin-right: 17px;
  padding-bottom: 10px;
  font-family: 'PT Sans';
  font-size: 0.857em;
  letter-spacing: 0.5px;
  color: #8ca9af;
}

.text-23,
.text-25 {
  display: inline-block;
  float: left;
  font-family: 'PT Sans';
  font-size: 1.143em;
  font-weight: 400;
  color: rgb(140, 169, 175);
}

.text-24,
.text-26 {
  float: left;
  clear: both;
  width: 468px;
  margin-top: 13px;
  font-size: 1em;
  color: rgb(140, 169, 175);
}

.text-3 {
  float: left;
  font-family: 'PT Sans';
  font-size: 0.857em;
  letter-spacing: 0.5px;
}

.text-4 {
  float: right;
  font-family: 'PT Sans';
  font-size: 0.857em;
  letter-spacing: 0.5px;
}

.text-5 {
  display: inline-block;
  float: left;
  margin: 9px 0 0 7.3394495412%;
  font-family: 'PT Sans';
  font-size: 0.857em;
  letter-spacing: 0.5px;
  color: #8ca9af;
}

.text-6 {
  display: inline-block;
  float: left;
  clear: both;
  margin: -19px 0 0 35.7798165137%;
  font-size: 1.143em;
  font-weight: 400;
  color: rgb(140, 169, 175);
}

.text-7 {
  display: inline-block;
  float: left;
  margin-left: 4.8192771084%;
  padding-bottom: 10px;
  font-family: 'PT Sans';
  font-size: 0.857em;
  letter-spacing: 0.5px;
  color: #8ca9af;
}

.text-8 {
  display: inline-block;
  float: right;
  margin-right: 14px;
  padding-bottom: 10px;
  font-family: 'PT Sans';
  font-size: 0.857em;
  letter-spacing: 0.5px;
  color: #8ca9af;
}

.ufthumb-1 {
  background-image: url('../images/uf1.png');
}

.ufthumb-2 {
  margin-left: 25px;
  background-image: url('../images/uf2.png');
}

.ufthumb-3 {
  margin-left: 25px;
  background-image: url('../images/uf3.png');
}

.ufthumb-4 {
  margin-left: 25px;
  background-image: url('../images/uf4.png');
}

.ufthumb-5 {
  clear: both;
  margin-top: 25px;
  background-image: url('../images/uf5.png');
}

.ufthumb-6 {
  margin: 25px 0 0 25px;
  background-image: url('../images/uf6(2).png');
}

.container ._button-1,
.container ._button-2 {
  clear: both;
  width: 30.9829059829%;
  height: 32px;
  margin-top: 16px;
  background-color: rgb(80, 227, 194);
}

.container ._element-2 {
  width: 28.4403669724%;
  height: 30px;
  margin-top: 14px;
  border-radius: 15px;
  background: url('../images/photo(2).png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}