body {
  background-color: #ecf0f0;
  font: 400 0.875em/1.38 Helvetica;
  color: rgba(255, 255, 255, 0.58);
}

.action {
  width: 94.84375%;
  height: 35px;
  margin: 34px auto 0;
}

.active {
  display: block;
  float: left;
  width: 29.9694189602%;
  height: 35px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgb(140, 169, 175);
}

.filesnav {
  float: left;
  width: 327px;
  height: 35px;
}

.item {
  float: left;
  clear: both;
  width: 16.71875%;
  height: 202px;
  margin: 40px 0 0 2.5%;
}

.logo {
  display: block;
  float: left;
  width: 8.4703947368%;
  height: 26px;
  margin-top: 2px;
}

.mainheader {
  position: relative;
  width: 95%;
  min-width: 720px;
  max-width: 1216px;
  height: 30px;
  margin: 24px auto 0;
}

.profile {
  display: block;
  position: relative;
  float: right;
  z-index: 19;
  width: 2.6315789473%;
  height: 30px;
}

.searchform {
  display: block;
  float: right;
  width: 332px;
  height: 35px;
  padding: 0 10px;
  border-radius: 20px;
  background: url('../images/searchico(2).png') rgb(212, 224, 224);
  background-repeat: no-repeat;
  background-size: 14px 15px;
  background-position: 96% 50%;
  font-size: 0.929em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

._image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

._text {
  float: left;
  font-weight: 400;
  line-height: 1.38;
}

.active ._text {
  display: inline-block;
  padding: 8px 18px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.filesnav ._container {
  display: block;
  float: left;
  height: 35px;
  margin-left: 1px;
  background-color: #d4e0e0;
}

.item ._image {
  width: 214px;
}

.logo ._image {
  width: 97px;
}

.mainheader ._container {
  position: absolute;
  top: 1px;
  right: 17px;
  z-index: 17;
  width: 418px;
  height: 27px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.mainheader ._text {
  display: block;
  padding: 5px;
  font-size: 0.929em;
  color: rgb(140, 169, 175);
}

.profile ._image {
  width: 30px;
}

.filesnav ._container-2 {
  width: 22.6299694189%;
}

.filesnav ._container-3 {
  width: 18.9602446483%;
}

.filesnav ._container-4 {
  width: 27.5229357798%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filesnav ._text-6,
.filesnav ._text-7,
.filesnav ._text-8 {
  display: inline-block;
  padding: 8px 18px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.58);
}

.mainheader ._text-1 {
  margin-left: 15px;
}

.mainheader ._text-3 {
  margin-left: 30px;
}

.mainheader ._text-2,
.mainheader ._text-4 {
  margin-left: 32px;
}