body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(120, 215, 235);
}

.file {
  position: relative;
  width: 80%;
  height: 900px;
  margin: 126px auto 0;
  background-color: rgb(255, 255, 255);
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  overflow: hidden;
}

.logincta {
  display: block;
  float: right;
  width: 14px;
  height: 19px;
  margin-top: 4px;
}

.loginpop {
display: none;
  position: absolute;
  top: -3px;
  right: -6px;
  z-index: 20;
  width: 235px;
  height: 259px;
}

.logo {
  display: block;
  float: left;
  width: 97px;
  height: 26px;
}

.mainheader {
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 21;
  width: 95%;
  height: 26px;
  margin: 0 auto;
}

.pin {
  display: block;
  float: left;
  width: 9.7859327217%;
  height: 32px;
  margin-top: 12px;
}

.qpinpop {
  display: block;
  position: absolute;
  top: 77px;
  left: 231px;
  z-index: 5;
  width: 327px;
  height: 257px;
}

.qscreen {
  position: relative;
  float: left;
  width: 88.3792048929%;
  height: 257px;
  margin-left: 6px;
}

.separator {
  position: absolute;
  top: -5px;
  left: 122px;
  z-index: 16;
  width: 0.1644736842%;
  height: 36px;
}

.step-small {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  height: 87px;
  margin: 0 auto;
  background-color: rgba(3, 179, 217, 0.76);
}

.title {
  display: block;
  float: left;
  width: 114px;
  height: 22px;
  margin: 4px 0 0 46px;
}

.top {
  position: relative;
  float: left;
  z-index: 7;
  width: 100%;
  background-color: #03b3d9;
  overflow: hidden;
}

._button {
  display: block;
  position: absolute;
  top: 0;
  right: 44px;
  z-index: 12;
  width: 119px;
  height: 26px;
  border-radius: 3px;
  background-color: #b8e986;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._text {
  float: left;
  width: 100%;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(120, 215, 235);
}

.logincta ._image {
  display: block;
  float: left;
  width: 14px;
  height: auto;
  overflow: hidden;
}

.loginpop ._image {
  display: block;
  float: left;
  width: 235px;
  height: auto;
  overflow: hidden;
}

.logo ._image {
  display: block;
  float: left;
  width: 97px;
  height: auto;
  overflow: hidden;
}

.pin ._image {
  display: block;
  float: left;
  width: 32px;
  height: auto;
  overflow: hidden;
}

.separator ._image {
  display: block;
  float: left;
  width: 2px;
  height: auto;
  overflow: hidden;
}

.step-small ._image {
  display: block;
  width: 353px;
  height: auto;
  margin: 10px auto 0;
  overflow: hidden;
}

.image-1 {
  z-index: 3;
  width: 289px;
}

.image-2 {
  z-index: 2;
  width: 285px;
}