body {
  background-color: #ecf0f0;
  font-size: 1em;
}

/*------- header ------*/

.mainheader {
  position: absolute;
  width: 95%;
  min-width: 720px;
  max-width: 1216px;
  height: 30px;
  margin: 24px auto;
  right: 0px;
  left: 0px;
}
.mainheader ._text-1 {
  margin-left: 15px;
}

.mainheader ._text-3 {
  margin-left: 30px;
}

.mainheader ._text-2,
.mainheader ._text-4 {
  margin-left: 32px;
}
.logo {
  display: block;
  float: left;
  width: 8.4703947368%;
  height: 26px;
  margin-top: 2px;
}

.profile {
  display: block;
  position: relative;
  float: right;
  z-index: 8;
  width: 2.6315789473%;
  height: 30px;
}

.uploadbox {
  display: block;
  width: 23.984375%;
  height: 306px;
  margin: 191px auto 0;
}

.mainnav {
  position: absolute;
  top: 1px;
  right: 17px;
  z-index: 6;
  width: 418px;
  height: 27px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
}
.mainnav a:hover {
	background: rgb(140, 169, 175);
	color: white;
}
._image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

._text {
  display: block;
  float: left;
  padding: 5px;
  font: 400 0.813em/1.38 Helvetica;
  color: rgb(140, 169, 175);
}

.logo ._image {
  width: 97px;
}

.profile ._image {
  width: 30px;
}

/*------- content ------*/
section.top {
	height: 100vh;
	width: 100%;
}
.uploadbox {
	position: absolute;
	width: 288px;
	height: auto;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	
}
.uploadbox ._image {
  width: 288px;
}


.tableprice {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 114px;
  padding-bottom: 60px;
  background-color: rgb(255, 255, 255);
  -moz-box-shadow:    0px 0px 12px 0px rgba(0,0,0,0.03);
	box-shadow:         0px 0px 12px 0px rgba(0,0,0,0.03);
}
.pricetitle {
  display: block;
  width: 442px;
  height: auto;
  margin: 37px auto 0;
  overflow: hidden;
}
.price {
  position: relative;
  width: 47.1875%;
  height: 467px;
  margin: 26px auto 0;
}
.free {
  display: block;
  float: left;
  width: 290px;
  height: 396px;
  margin-top: 26px;
}
.pro {
  display: block;
  position: absolute;
  top: 0;
  left: 301px;
  z-index: 13;
  width: 566px;
  height: 467px;
}
.free ._image {
  width: 290px;
}

.logo ._image {
  width: 97px;
}

.pro ._image {
  width: 566px;
}