body {
  background-color: #2a2a2a;
  font: 400 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.commentfile {
  position: absolute;
  top: 220px;
  left: 33%;
  z-index: 41;
  width: 270px;
}

.commentfile .element {
  float: left;
}

.element .text {
  margin: 9px auto 0;
  padding-left: 12px;
  font-size: 0.75em;
  color: rgb(0,0,0);
}

.filethumb {
  float: left;
  width: 198px;
  height: 267px;
  margin: 186px 0 0 10%;
}

.filethumb .container {
  display: block;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  background-color: rgb(61, 61, 61);
}

.filethumb .text {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: rgb(107, 107, 107);
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 49;
  width: 100%;
  height: 700px;
}

.login {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 57;
  width: 22.6666666666%;
  min-width: 257px;
}

.login .container {
  float: left;
  clear: both;
  width: 99.9999999999%;
  height: 178px;
  background-color: rgb(118, 238, 111);
}

.login .element {
  float: left;
  width: 36.7647058823%;
  height: 50px;
  margin-left: 63.2352941176%;
  background-color: rgb(118, 238, 111);
}

.login .text {
  margin-top: 9px;
  font-size: 0.75em;
  color: rgb(255, 255, 255);
}

.logo {
  display: block;
  float: left;
  width: 120px;
  height: 50px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: 90px 22px;
  background-position: center center;
}

.mainheader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 69;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: rgba(42, 42, 42, 0.83);
}

.panqtrigger {
  display: block;
  position: absolute;
  top: -32px;
  left: 0;
  right: 0;
  z-index: 77;
  width: 167px;
  margin: 0 auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgba(255, 255, 255, 0.95);
}

.panqtrigger .text {
  float: left;
  color: rgb(0,0,0);
}

.progressindicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 67;
  width: 32.4166666666%;
  height: 50px;
  margin: 0 auto;
}

.progressindicator .container {
  float: left;
  width: 24.1645244215%;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50% 16%;
}

.progressindicator .text {
  width: 100%;
  margin: 31px auto 0;
  font-size: 0.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.questionpan {
  position: fixed;
  bottom: -400px;
  left: 0;
  z-index: 81;
  width: 100%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.89);
  -webkit-transform: all 0.3;
  -moz-transform: all 0.3;
  -o-transform: all 0.3;
  -ms-transform: all 0.3;
  transform: all 0.3;
}

.register {
  position: absolute;
  top: 204px;
  left: 0;
  right: 0;
  z-index: 33;
  width: 400px;
  height: 258px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

.register .text {
  margin: 14px auto 0;
  text-align: center;
  color: rgb(0, 0, 0);
}

.reupload {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 700px;
}

.share {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 34;
  width: 100%;
  height: 700px;
  margin: 0 auto;
}

.sharemodal {
  position: absolute;
  top: 108px;
  left: 0;
  right: 0;
  z-index: 27;
  width: 450px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.87);
}

.sharemodal .container {
  width: 100%;
  height: 127px;
  margin: 0 auto;
  padding: 15px;
}

.steps {
  width: 400px;
  margin: 102px auto 0;
}

.steps .text {
  float: left;
  width: 100px;
  padding-top: 57px;
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center top;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text {
  font-weight: 400;
  line-height: 1.38;
}

.uniqform {
  float: left;
  width: 42.6666666666%;
  height: 300px;
  margin: 51px 0 0 5.1666666666%;
}

.uniqform .text {
  float: left;
  color: rgb(0,0,0);
}

.upload {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 42;
  width: 100%;
  height: 700px;
  overflow: auto;
}

.uploadbox {
  width: 27.1666666666%;
  height: 272px;
  margin: 62px auto 0;
  border: 2px dashed rgb(69, 69, 69);
  border-radius: 6px;
  background-color: rgb(34, 34, 34);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.23) inset;
}

.userfile {
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
  z-index: 35;
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  background-color: rgb(222, 222, 222);
}

.username {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 60;
  width: 100px;
  height: 50px;
}

.username .element {
  float: right;
  width: 16px;
  height: 16px;
  margin: 17px 12% 0 0;
  background-image: url('../images/arrow-down.png');
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: center center;
}

.username .text {
  display: inline-block;
  float: left;
  margin: 13px 0 0 20%;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  border-radius: 3px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
}

._input {
  display: block;
  padding-right: 10px;
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
}

.commentfile ._container {
  width: 91.4814814814%;
  height: 220px;
  margin-top: 13px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

.commentfile ._element {
  width: 13px;
  height: 13px;
  border-radius: 7px;
  background-color: rgb(255, 0, 0);
}

.container ._input {
  padding-left: 10px;
  color: rgb(0, 0, 0);
}

.element ._button {
  width: 88.2591093117%;
  height: 30px;
  margin: 6px auto 0;
  background-color: rgb(118, 238, 111);
  font-size: 0.75em;
  color: rgb(255, 255, 255);
}

.element ._input {
  width: 88.2591093117%;
  height: 137px;
  margin: 7px auto 0;
  padding-left: 10px;
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
  white-space: normal;
}

.filethumb ._button {
  font-size: 0.75em;
}

.filethumb ._input {
  float: left;
}

.login ._button {
  width: 90.0735294117%;
  height: 36px;
  margin: 15px auto 0;
  background-color: rgb(37, 37, 37);
  font-size: 0.75em;
  color: rgb(255, 255, 255);
}

.login ._input {
  width: 90.0735294117%;
  height: 36px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

.register ._input {
  width: 364px;
  height: 38px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
}

.reupload ._container {
  float: left;
  width: 186px;
  height: 200px;
  margin: 213px 0 0 2.3333333333%;
  border: 1px dashed rgb(64, 64, 64);
  background-color: rgb(40, 40, 40);
}

.sharemodal ._button {
  height: 33px;
}

.sharemodal ._input {
  float: left;
  clear: both;
  width: 81.9047619047%;
  height: 33px;
  margin-top: 14px;
  background-color: rgb(242, 242, 242);
}

.uniqform ._button {
  float: left;
  clear: both;
  width: 39.84375%;
  height: 38px;
  margin-top: 17px;
  background-color: rgb(118, 238, 111);
  font-size: 0.75em;
  color: rgb(255, 255, 255);
}

.uniqform ._input {
  float: left;
  clear: both;
  width: 100%;
  height: 200px;
  margin-top: 23px;
  padding-left: 10px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24) inset;
  color: rgb(0, 0, 0);
}

.uploadbox ._button {
  width: 153px;
  height: 110px;
  margin: 78px auto 0;
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
  color: rgb(255, 255, 255);
}

.container-1 {
  background-image: url('../images/upload%202.png');
  background-size: 30px 22px;
}

.container-2 {
  margin-left: 50px;
  background-image: url('../images/share%202.png');
  background-size: 24px 24px;
}

.container-3 {
  margin-left: 50px;
  background-image: url('../images/feedback%202.png');
  background-size: 30px 26px;
}

.container-5,
.container-7 {
  background-color: rgb(221, 221, 221);
}

.container-8 {
  background-color: rgb(216, 143, 255);
}

.text-1 {
  display: inline-block;
  padding: 5px;
}

.text-10 {
  float: left;
  clear: both;
  width: 18.75%;
  margin-left: 5.1470588235%;
}

.text-11 {
  float: right;
  width: 37.1323529411%;
  margin-right: 5.1470588235%;
}

.text-12 {
  background-image: url('../images/upload.svg');
}

.text-13 {
  margin-left: 50px;
  background-image: url('../images/share.svg');
}

.text-14 {
  margin-left: 50px;
  background-image: url('../images/feedback.svg');
}

.text-17,
.text-18,
.text-19 {
  display: inline-block;
  float: left;
  color: rgb(0,0,0);
}

.text-2 {
  position: relative;
  z-index: 75;
  width: 5.988023952%;
  margin: 6px 0 0 16.1676646706%;
}

.text-20 {
  margin: 10px auto 0;
  text-align: center;
  color: rgb(151, 70, 194);
}

.text-21 {
  margin-top: 52px;
  font-size: 1.5em;
}

.text-22 {
  font-size: 0.75em;
}

.text-3 {
  position: relative;
  z-index: 76;
  width: 14.9700598802%;
  margin-top: 6px;
}

.text-5 {
  float: left;
  margin: 52px 0 0 6.8333333333%;
  color: rgb(0,0,0);
}

.container ._button-10 {
  float: left;
  width: 30.9523809523%;
  margin: 17px 0 0 3.0952380952%;
  background-color: rgb(53, 202, 222);
  font-size: 0.75em;
  color: rgb(255, 255, 255);
}

.container ._button-11 {
  float: left;
  width: 30.9523809523%;
  margin: 17px 0 0 3.0952380952%;
  background-color: rgb(238, 111, 111);
  font-size: 0.75em;
  color: rgb(255, 255, 255);
}

.container ._button-12,
.container ._button-8 {
  float: left;
  width: 15.238095238%;
  margin: 14px 0 0 2.619047619%;
  background-color: rgb(118, 238, 111);
  color: rgb(0, 0, 0);
}

.container ._button-13 {
  width: 38.8095238095%;
  margin: 15px auto 0;
  background-color: rgb(161, 91, 199);
  color: rgb(255, 255, 255);
}

.container ._button-14 {
  width: 51.5151515151%;
  height: 29px;
  margin: 30px auto 0;
  background-color: rgb(193, 40, 40);
  color: rgb(0, 0, 0);
}

.container ._button-16 {
  width: 42.9347826086%;
  height: 68px;
  margin: 66px auto 0;
  background-color: rgb(222, 222, 222);
  font-size: 0.75em;
  color: rgb(0, 0, 0);
}

.container ._button-9 {
  float: left;
  clear: both;
  width: 30.9523809523%;
  margin-top: 17px;
  background-color: rgb(57, 83, 217);
  font-size: 0.75em;
  color: rgb(255, 255, 255);
}

.container ._input-2 {
  margin-top: 8px;
}

.container ._input-3 {
  margin-top: 14px;
}

.filethumb ._button-15 {
  float: left;
  width: 26.2626262626%;
  height: 26px;
  margin: 14px 0 0 3.5353535353%;
  background-color: rgb(118, 238, 111);
  color: rgb(255, 255, 255);
}

.filethumb ._input-10 {
  width: 59.5959595959%;
  height: 27px;
  background-color: rgb(42, 42, 42);
  color: rgb(255, 255, 255);
}

.filethumb ._input-11 {
  clear: both;
  width: 70.202020202%;
  height: 26px;
  margin-top: 14px;
  padding-left: 10px;
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
}

.questionpan ._button-1 {
  position: absolute;
  top: -34px;
  right: 5%;
  z-index: 79;
  width: 10.75%;
  height: 31px;
  background-color: rgb(118, 238, 111);
  font-size: 0.75em;
  color: rgb(0, 0, 0);
}

.questionpan ._button-2 {
  position: absolute;
  top: -34px;
  left: 5.1666666666%;
  z-index: 78;
  width: 10.75%;
  height: 31px;
  background-color: rgb(118, 238, 111);
  font-size: 0.75em;
  color: rgb(0, 0, 0);
}

.register ._input-5 {
  margin-top: 21px;
}

.register ._input-6,
.register ._input-7 {
  margin-top: 28px;
}

.share ._button-7 {
  position: absolute;
  top: 630px;
  left: 0;
  right: 0;
  z-index: 28;
  width: 21.3333333333%;
  height: 44px;
  margin: 0 auto;
  background-color: rgb(118, 238, 111);
  color: rgb(255, 255, 255);
}