body {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.logincta {
  display: block;
  position: relative;
  float: right;
  z-index: 6;
  width: 14px;
  height: 19px;
  margin-top: 4px;
}

.loginpop {
	display: none;
  position: absolute;
  top: -3px;
  right: -0.4934210527%;
  z-index: 10;
  width: 235px;
  height: 259px;
}

.logo {
  display: block;
  float: left;
  width: 97px;
  height: 26px;
}

.mainheader {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 11;
  width: 95%;
  height: 26px;
  margin: 0 auto;
}

.stepbig {
  width: 100%;
  margin: 94px auto 0;
}

.top {
  position: relative;
  float: left;
  z-index: 4;
  width: 100%;
  height: 700px;
  background: url('../images/bg-blue.png') #03b3d9;
  background-repeat: no-repeat;
  background-size: 787px 750px;
  background-position: 50% -572%;
  overflow: hidden;
}

.uploadbox {
  display: block;
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 338px;
  margin: 0 auto;
}

._image {
  display: block;
  height: auto;
  overflow: hidden;
}

.logincta ._image {
  float: left;
  width: 14px;
}

.loginpop ._image {
  float: left;
  width: 235px;
}

.logo ._image {
  float: left;
  width: 97px;
}

.stepbig ._image {
  width: 656px;
  margin: 0 auto;
}

.uploadbox ._image {
  width: 301px;
  margin: 0 auto;
}