body {
  background-color: #ecf0f0;
  font-size: 1em;
}

.file-box {
  display: block;
  float: left;
  width: 47.619047619%;
  height: 218px;
  background-image: -webkit-linear-gradient(324deg, rgb(145, 201, 215) 0%, rgb(228, 139, 139) 100%);
  background-image:    -moz-linear-gradient(324deg, rgb(145, 201, 215) 0%, rgb(228, 139, 139) 100%);
  background-image:      -o-linear-gradient(324deg, rgb(145, 201, 215) 0%, rgb(228, 139, 139) 100%);
  background-image:     -ms-linear-gradient(324deg, rgb(145, 201, 215) 0%, rgb(228, 139, 139) 100%);
  background-image:         linear-gradient(126deg, rgb(145, 201, 215) 0%, rgb(228, 139, 139) 100%);
  overflow: hidden;
}

.filebrowes {
  float: left;
  width: 36.09375%;
  height: 218px;
  margin: 149px 0 0 2.5%;
}

.logo {
  display: block;
  position: relative;
  float: left;
  z-index: 18;
  width: 8.4703947368%;
  height: 26px;
  margin-top: 2px;
}

.mainheader {
  position: fixed;
  top: 22px;
  left: 0;
  right: 0;
  z-index: 19;
  width: 95%;
  min-width: 720px;
  max-width: 1216px;
  height: 30px;
  margin: 0 auto;
}

.profile {
  display: block;
  position: relative;
  float: right;
  z-index: 14;
  width: 2.6315789473%;
  height: 30px;
}

.question-section {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  width: 100%;
  height: 384px;
  margin: 0 auto;
}

.title-projectname {
  display: block;
  float: left;
  width: 16.8585526315%;
  height: 28px;
  margin: 2px 0 0 14px;
}

.upload-box {
  display: block;
  float: left;
  width: 47.619047619%;
  height: 218px;
  margin-left: 22px;
}

._container {
  position: absolute;
  top: 1px;
  right: 17px;
  z-index: 12;
  width: 418px;
  height: 27px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

._element {
  display: block;
  position: absolute;
  top: -24px;
  left: -2.6315789474%;
  z-index: 7;
  width: 105.2631578947%;
  height: 80px;
  background-color: rgba(236, 240, 240, 0.57);
}

._image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

._text {
  display: block;
  float: left;
  padding: 5px;
  font: 400 0.813em/1.38 Helvetica;
  color: rgb(140, 169, 175);
}

.file-box ._image {
  width: 220px;
  margin-top: 177px;
}

.logo ._image {
  width: 97px;
}

.profile ._image {
  width: 30px;
}

.question-section ._image {
  width: 1280px;
}

.title-projectname ._image {
  width: 205px;
}

.upload-box ._image {
  width: 220px;
}

.mainheader ._text-1 {
  margin-left: 15px;
}

.mainheader ._text-3 {
  margin-left: 30px;
}

.mainheader ._text-2,
.mainheader ._text-4 {
  margin-left: 32px;
}