body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(120, 215, 235);
}

.file-thumb {
  display: block;
  float: left;
  width: 216px;
  height: 270px;
  margin: 102px 0 0 2.5%;
}

.logincta {
  display: block;
  float: right;
  width: 14px;
  height: 19px;
  margin-top: 4px;
}

.loginpop {
	display: none;
  position: absolute;
  top: -3px;
  right: -6px;
  z-index: 17;
  width: 235px;
  height: 259px;
}

.logo {
  display: block;
  float: left;
  width: 97px;
  height: 26px;
}

.mainheader {
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 18;
  width: 95%;
  height: 26px;
  margin: 0 auto;
}

.projecttitle {
  display: block;
  float: left;
  width: 7.4013157894%;
  height: 22px;
  margin: 4px 0 0 46px;
}

.questionpanel {
  display: block;
  position: fixed;
  bottom: -340px;
  left: 0;
  right: 0;
  z-index: 20;
  width: 100%;
  height: 384px;
  margin: 0 auto;
  -webkit-transition: all 400ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
}

.separator {
  position: absolute;
  top: -5px;
  left: 122px;
  z-index: 13;
  width: 2px;
  height: 36px;
}

.step-small {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  width: 100%;
  height: 87px;
  margin: 0 auto;
  background-color: rgba(3, 179, 217, 0.76);
}

.top {
  position: relative;
  float: left;
  z-index: 4;
  width: 100%;
  height: 700px;
  background-color: #03b3d9;
  overflow: hidden;
}

.upload-box {
  display: block;
  float: left;
  width: 186px;
  height: 253px;
  margin: 119px 0 0 51px;
}

._button {
  display: block;
  position: absolute;
  top: 0;
  right: 44px;
  z-index: 9;
  width: 119px;
  height: 26px;
  border-radius: 3px;
  background-color: #b8e986;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._image {
  display: block;
  height: auto;
  overflow: hidden;
}

._text {
  float: left;
  width: 100%;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(120, 215, 235);
}

.file-thumb ._image {
  float: left;
  width: 216px;
}

.logincta ._image {
  float: left;
  width: 14px;
}

.loginpop ._image {
  float: left;
  width: 235px;
}

.logo ._image {
  float: left;
  width: 97px;
}

.questionpanel ._image {
  float: left;
  width: 1280px;
}

.separator ._image {
  float: left;
  width: 2px;
}

.step-small ._image {
  width: 353px;
  margin: 10px auto 0;
}

.upload-box ._image {
  float: left;
  width: 186px;
}