body {
  background-color: #ecf0f0;
  font-size: 1em;
}
.promodals {
display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1000;
	background:rgba(0,0,0,0.75);
}
.hidden-btn2 {
	position: absolute;
	display: block;
	width: 134px;
	height: 30px;
	z-index: 1003;
	margin: 374px 0px 10px 50px;
}
.hidden-btn2:hover {
	background: rgba(255,230,186,0.69);
}
.promodals div {
	width: 712px;
	height: 497px;
	margin: 10% auto 0;
}

.promodals img {
position: relative;
z-index: 1002;
	display: block;
	width: 712px;
	height: 497px;
}
.promodals .modalbg {
z-index: 1001;
float: left;
	position: absolute !important;
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	top: 0;
}

.file-box {
  display: block;
  float: left;
  width: 220px;
  height: 218px;
  background-image: -webkit-linear-gradient(324deg, rgb(145, 201, 215) 0%, rgb(228, 139, 139) 100%);
  background-image:    -moz-linear-gradient(324deg, rgb(145, 201, 215) 0%, rgb(228, 139, 139) 100%);
  background-image:      -o-linear-gradient(324deg, rgb(145, 201, 215) 0%, rgb(228, 139, 139) 100%);
  background-image:     -ms-linear-gradient(324deg, rgb(145, 201, 215) 0%, rgb(228, 139, 139) 100%);
  background-image:         linear-gradient(126deg, rgb(145, 201, 215) 0%, rgb(228, 139, 139) 100%);
  overflow: hidden;
  margin-left: 22px;
  margin-bottom: 22px;
}

.filebrowes {
  float: left;
  width: auto;
  min-width: 800px;
  max-width: 95%;
  height: auto;
  margin: 149px 0 0 2.5%;
}

.logo {
  display: block;
  position: relative;
  float: left;
  z-index: 18;
  width: 8.4703947368%;
  height: 26px;
  margin-top: 2px;
}

.mainheader {
  position: fixed;
  top: 22px;
  left: 0;
  right: 0;
  z-index: 19;
  width: 95%;
  min-width: 720px;
  max-width: 1216px;
  height: 30px;
  margin: 0 auto;
}
nav {
	display: none;
}
nav a {
-webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
}
nav a:hover {
	background: rgb(140, 169, 175);
	color: white;
}

.profile {
  display: block;
  position: relative;
  float: right;
  z-index: 14;
  width: 2.6315789473%;
  height: 30px;
}

.question-section {
  display: block;
  position: fixed;
  bottom: -340px;
  left: 0;
  right: 0;
  z-index: 6;
  width: auto;
  height: 384px;
  margin: 0 auto;
  -webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.hidden-btn1 {
left: 1143px;
top: 75px;
position: absolute;
	display: block;
	width: 80px;
	height: 30px;
}
.hidden-btn1:hover {

	background: rgba(255,215,215,0.49);
}

.title-projectname {
  display: block;
  float: left;
  width: 16.8585526315%;
  height: 28px;
  margin: 2px 0 0 14px;
}
.title-projectname-pro {
  display: none;
  float: left;
  width: 306px;
  height: 28px;
  margin: 2px 0 0 14px;
}

.upload-box {
  display: block;
  float: left;
  width: 22px;
  height: 218px;
  margin-left: 22px;
}

._container {
  position: absolute;
  top: 1px;
  right: 17px;
  z-index: 12;
  width: 418px;
  height: 27px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

._element {
  display: block;
  position: absolute;
  top: -24px;
  left: -2.6315789474%;
  z-index: -10;
  width: 105.2631578947%;
  height: 80px;
  background-color: rgba(236, 240, 240, 0.57);
}

._image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

._text {
  display: block;
  float: left;
  padding: 5px;
  font: 400 0.813em/1.38 Helvetica;
  color: rgb(140, 169, 175);
}

.file-box ._image {
  width: 220px;
  margin-top: 177px;
  -webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
}

.logo ._image {
  width: 97px;
}

.profile ._image {
  width: 30px;
}

.question-section ._image {
  width: 1280px;
}

.title-projectname ._image {
  width: 205px;
}

.upload-box ._image {
  width: 220px;
}

.mainheader ._text-1 {
  margin-left: 15px;
}

.mainheader ._text-3 {
  margin-left: 30px;
}

.mainheader ._text-2,
.mainheader ._text-4 {
  margin-left: 32px;
}