body {
  background-color: #343434;
  font: 400 0.75em/1.38 Helvetica;
  color: rgb(240, 240, 240);
}

.element {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 100%;
  height: 140px;
  background-color: rgb(222, 222, 222);
}

.f-item {
  position: relative;
  float: left;
  width: 185px;
}

.first-step {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 40;
  width: 404px;
  margin: 0 auto;
}

.first-step .text {
  float: left;
  width: 100px;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-size: 40% 40%;
  background-position: center top;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}

.login-but {
  display: block;
  float: right;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.logo {
  display: block;
  float: left;
  border: 1px solid rgb(255, 255, 255);
  font-size: 1.333em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.q-general {
  float: left;
  width: 35.75%;
  height: 253px;
  margin: 37px 0 0 5.0833333333%;
}

.q-general .text {
  float: left;
  width: 28.4382284382%;
  font-size: 1.333em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.q-item {
  float: left;
  width: 470px;
  padding: 10px;
  background-color: rgb(142, 142, 142);
}

.q-item .text {
  float: left;
}

.q-pantrigger {
  display: block;
  width: 19.4166666666%;
  margin: 0 auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgba(62, 62, 62, 0.9);
}

.q-pantrigger .text {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.qinfo {
  display: block;
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  margin: 0 auto;
}

.qinfo .text {
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
  color: rgb(0,0,0);
}

.questionpan {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 36;
  width: 100%;
  margin: 0 auto;
}

.text {
  line-height: 1.38;
}

.u-box {
  float: left;
  width: 14.8958333333%;
  height: 140px;
  margin: 36px 0 0 4.375%;
  border: 1px dashed rgb(77, 77, 77);
  border-radius: 4px;
  background-color: rgb(48, 48, 48);
}

.welcomeuser {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 44;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: rgba(54, 54, 54, 0.87);
}

._button {
  display: block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
}

._input {
  display: block;
  float: left;
  font-size: 1.083em;
  font-weight: 400;
  line-height: 1.38;
}

.f-item ._button {
  float: left;
  clear: both;
  width: 29.7297297297%;
  height: 18px;
  margin-top: 11px;
  border-radius: 2px;
  background-color: rgb(112, 112, 112);
  color: rgb(0, 0, 0);
}

.f-item ._input {
  width: 80%;
  height: 36px;
  background-color: rgb(52, 52, 52);
  color: rgb(255, 255, 255);
}

.q-general ._button {
  float: left;
  clear: both;
  width: 23.5431235431%;
  height: 32px;
  margin-top: 18px;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  color: rgb(0, 0, 0);
}

.q-general ._input {
  clear: both;
  width: 100%;
  height: 172px;
  margin-top: 9px;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
}

.u-box ._button {
  width: 54.609929078%;
  height: 55px;
  margin: 39px auto 0;
  border-radius: 3px;
  background-color: rgb(65, 65, 65);
  color: rgb(168, 168, 168);
}

.welcomeuser ._container {
  position: absolute;
  top: 23px;
  left: 0;
  right: 0;
  z-index: 43;
  width: 96%;
  height: 24px;
  margin: 0 auto;
}

.container-1 {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background-color: rgb(102, 102, 102);
  overflow: scroll;
}

.container-2 {
  float: left;
  width: 470px;
  margin: 38px 0 0 10%;
}

.container-3 {
  float: left;
  clear: both;
  width: 470px;
  margin-top: 10px;
}

.container-4 {
  position: relative;
  z-index: 15;
  width: 80%;
  height: 374px;
  margin: 100px auto 0;
}

.container-5 {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.container-6 {
  width: 100%;
  margin: 31px auto 0;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.q-item-2 {
  clear: both;
  margin-top: 11px;
}

.text-1 {
  background-image: url('../images/upload.svg');
  color: rgb(254, 126, 126);
}

.text-12 {
  font-size: 1.333em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.text-10,
.text-13 {
  display: inline-block;
  margin-left: 4.4444444444%;
  font-size: 1.333em;
  font-weight: 400;
  color: rgb(246, 246, 246);
}

.text-11,
.text-14 {
  clear: both;
  margin: 4px 0 0 7.3333333333%;
  font-size: 1em;
  color: rgb(240, 240, 240);
}

.text-15 {
  font-size: 2em;
}

.text-16 {
  font-size: 1em;
}

.text-2 {
  margin-left: 50px;
  background-image: url('../images/share.svg');
  color: rgb(173, 173, 173);
}

.text-3 {
  display: inline-block;
  margin-left: 50px;
  background-image: url('../images/feedback.svg');
  color: rgb(173, 173, 173);
}

.text-4 {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.text-5 {
  margin-left: 45.9227467811%;
}

.text-8 {
  float: left;
  width: 94px;
  font-size: 1.333em;
  font-weight: 400;
  color: rgb(247, 247, 247);
}

.text-9 {
  width: 2.8888888888%;
  font-size: 1.333em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

._button-6 {
  position: fixed;
  bottom: 10px;
  right: 2%;
  width: 8.1666666666%;
  height: 26px;
  border-radius: 3px;
  background-color: rgba(50, 157, 13, 0.81);
  color: rgb(242, 242, 242);
}

.container ._button-2 {
  float: right;
  width: 77px;
  height: 27px;
  margin-top: 3px;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  color: rgb(0, 0, 0);
}

.container ._button-5 {
  float: left;
  clear: both;
  width: 15.4166666666%;
  height: 28px;
  margin-top: 25px;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  color: rgb(0, 0, 0);
}

.container ._element-1 {
  display: block;
  float: left;
  width: 142px;
  height: 33px;
  background-color: rgb(47, 47, 47);
  font-size: 1.083em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}