body {
  background-color: rgb(255, 255, 255);
  font: 400 0.813em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.logincta {
  display: block;
  float: right;
  width: 14px;
  height: 19px;
  margin-top: 4px;
}

.loginpop {
	display: none;
  position: absolute;
  top: -3px;
  right: -6px;
  z-index: 13;
  width: 235px;
  height: 259px;
}

.logo {
  display: block;
  float: left;
  width: 97px;
  height: 26px;
}

.mainheader {
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 14;
  width: 95%;
  height: 26px;
  margin: 0 auto;
}

.share-break {
	display: none;
  position: absolute;
  top: 166px;
  left: 0;
  right: 0;
  z-index: 3;
  width: 386px;
  height: 381px;
  margin: 0 auto;
}

.sharemodal {
  position: absolute;
  z-index: 1;
  width: 633px;
  height: 481px;
  margin: 0 auto;
  top: 166px;
  left: 0px;
  right: 0px;
}

.step-small {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  width: 100%;
  height: 87px;
  margin: 0 auto;
  background-color: rgba(3, 179, 217, 0.76);
}

.top {
  position: relative;
  float: left;
  z-index: 4;
  width: 100%;
  height: 700px;
  background-color: #03b3d9;
  overflow: hidden;
}

._button {
  display: block;
  position: absolute;
  top: 0;
  right: 44px;
  z-index: 9;
  width: 119px;
  height: 26px;
  border-radius: 3px;
  background-color: #b8e986;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._image {
  display: block;
  height: auto;
  overflow: hidden;
}

.logincta ._image {
  float: left;
  width: 14px;
}

.loginpop ._image {
  float: left;
  width: 235px;
}

.logo ._image {
  float: left;
  width: 97px;
}

.share-break ._image {
  float: left;
  width: 386px;
}

.sharemodal ._image {
  float: left;
  width: 633px;
}

.step-small ._image {
  width: 353px;
  margin: 11px auto 0;
}