body {
  background-color: #ecf0f0;
  font-size: 1em;
}

.content {
  width: 94.84375%;
  height: 589px;
  margin: 41px auto 0;
}

.item {
  display: block;
  float: left;
  width: 47.5746268656%;
  height: 263px;
}

.items {
  float: left;
  width: 536px;
  height: 263px;
}

.logo {
  display: block;
  float: left;
  width: 8.4703947368%;
  height: 26px;
  margin-top: 2px;
}

.mainheader {
  position: relative;
  width: 95%;
  min-width: 720px;
  max-width: 1216px;
  height: 30px;
  margin: 24px auto 0;
}
nav {
	display: none;
}
nav a:hover {
	background: rgb(140, 169, 175);
	color: white;
}

.profile {
  display: block;
  position: relative;
  float: right;
  z-index: 14;
  width: 2.6315789473%;
  height: 30px;
}

.sidebar {
  float: right;
  width: 36.1614497528%;
  height: 589px;
}

._container {
  position: absolute;
  top: 1px;
  right: 17px;
  z-index: 12;
  width: 418px;
  height: 27px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

._image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

._text {
  display: block;
  float: left;
  padding: 5px;
  font: 400 0.813em/1.38 Helvetica;
  color: rgb(140, 169, 175);
}

.item ._image {
  width: 255px;
}

.logo ._image {
  width: 97px;
}

.profile ._image {
  width: 30px;
}

.sidebar ._image {
  width: 439px;
}

.item-2 {
  margin-left: 26px;
}

.mainheader ._text-1 {
  margin-left: 15px;
}

.mainheader ._text-3 {
  margin-left: 30px;
}

.mainheader ._text-2,
.mainheader ._text-4 {
  margin-left: 32px;
}